{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>Entrer le chat privé</h3>
  <div>
    <label>Nom d'utilisateur</label>
    <input
      type="text"
      placeholder="Nom d'utilisateur!"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Code salon" name="code" value="{{code}}" />
    <button type="submit" name="join">Rejoignez un chat privé</button>
  </div>
  <button type="submit" name="create" class="create-btn">Créer un salon</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}